<div class="page-container">
  <header>
    <div>
      <a routerLink="/">
        <span class="app-title">Rack and Godown Management</span>
      </a>
    </div>
  </header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav autoFocus="false" mode="side" opened class="sidenav">
      <a mat-button routerLink="/godown-list">Godwon List</a>
      <a mat-button routerLink="/add-godown">Add Edit Godown</a>

    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet>

        </router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>